<nav class="header-menu">

{# STYLE PRIVATE CSS #}

    <style>
        .on-the-fly-behavior {
            width: 14em; 
            background-image: url('{{ asset('build/img/logo-cycloop.png') }}'); 
            background-repeat: no-repeat;
            background-size: 13em 7em;
            background-position-x: 20%;
            padding: 2em;
            padding-left:1em;
            
        }

        @media only screen and (max-width: 856px) {
            .on-the-fly-behavior {
                background-size: 9em 4.7em;
                background-position-y: center;
                padding-left:0.5em;
                
            }
        }
    </style>





{# NON CONNECTÉ #}

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a id="logo-cycloop1" class="logo-cycloop" href="{{ path('app_home') }}" style="text-decoration:none; ">
            {# <img class="img-cycloop" src="{{ asset('build/img/logo-cycloop.png') }}" style="z-index:-1;"> #}
            <div class="on-the-fly-behavior"  style="height:7em;">
            
            </div>
        </a>
        <div class="right-group">
            <a class="label" href="{{ path('app_login') }}" style="text-decoration:none">
                Connexion
            </a>
            <a class="label" href="{{ path('app_register') }}" style="text-decoration:none">
                Inscription
            </a>
        </div>
    {% endif %}



{# CONNECTÉ #}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}



        {# LA NAV BAR NATIVE #}

        <div style:"width: 13em;">     
            <div class="on-the-fly-behavior" style=" ">
                <div class="left-group" style="">
                    <button type="button" class="p-button-rounded" style=" cursor: pointer;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        <span class="p-button-label">...</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-group">
            <a class="label" href="{{ path('app_logout') }}" style="text-decoration:none">
                Déconnexion
            </a>
            <button type="button" class="p-button-rounded" style="cursor: pointer;">
                <span class="p-button-label">mon compte</span>
            </button>
        </div>



        {# L'OVERLAY LATERAL GAUCHE #}

        {# <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button> #}

        <div class="offcanvas offcanvas-start" style="width:347px; background-color: rgba(0, 0, 0, 0.75); color: #b9c7cf;" data-bs-scroll="true" data-bs-config='{"backdrop":false}' tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop</h5>
                <button type="button" class="btn-close btn-close-white" style="padding-right:5em;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <p>Try scrolling the rest of the page to see this option in action.</p>
                
            </div>
        </div>



















    {% endif %}

</nav>