{% extends 'base.html.twig' %}

{% block title %}Ma Plante{% endblock %}

{% block head %}
    <style>
      body {
        font-family: 'Veranda', sans-serif;
      }
      span {
        font-size: 22px;
        cursor: pointer
      }
      .overlay {
        height: 70%;
        width: 0;
        position: fixed;
        z-index: 1;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 20%;
        background-color: rgba(0, 0, 0, 0.75);
        overflow-x: hidden;
        transition: 0.5s;
      }
      .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      .overlay .formulaire {
        padding: 10px;
        text-decoration: none;
        font-size: 32px;
        color: #b9c7cf;
        display: block;
        transition: 0.4s;
      }
      .overlay a {
        padding: 10px;
        text-decoration: none;
        font-size: 32px;
        color: #b9c7cf;
        display: block;
        transition: 0.4s;
      }
      .overlay a:hover,
      .overlay a:focus {
        color: #eeeeee;
      }
      .overlay .close {
        position: absolute;
        top: 10px;
        right: 35px;
        font-size: 50px;
      }
      @media screen and (max-height: 450px) {
        .overlay a {
          font-size: 20px
        }
        .overlay .closed {
          font-size: 40px;
          top: 15px;
          right: 35px;
        }
      }
      .card-body {
          min-height: 80px;
          min-width: 260px;
          text-align: center;
      }

      .testimonial-group > .row {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }
      .testimonial-group > .row > .col-4 {
        display: inline-block;
      }
      .testimonial-group > .row > .card {
        display: inline-block;
      }




      .chat-log {
        padding: 40px 0 114px;
        height: auto;
        overflow: auto;
      }
      .chat-log__item {
        background: #fafafa;
        padding: 10px;
        margin: 0 auto 20px;
        max-width: 80%;
        float: left;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        clear: both;
      }

      .chat-log__item.chat-log__item--own {
        float: right;
        background: #DCF8C6;
        text-align: right;
      }

      .chat-form {
        background: #DDDDDD;
        padding: 40px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
      }

      .chat-log__author {
        margin: 0 auto .5em;
        font-size: 14px;
        font-weight: bold;
      }
    </style>
{% endblock %}


{% block body %}



    <h1 class="display-6" style="text-align: center;">{{ planteselected.Nom }}</h1>

    {# Carousel #}
    <div id="carousell2">
          <div class= "container testimonial-group">
              <div class="row d-flex flex-row flex-nowrap">
                  <div class="card card-body" style="width: 9em ">
                      <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top" alt="...">
                      <div class="card-body">
                          <small>18/12/2022 14:27</small>
                      </div>
                  </div>
                  <div class="card card-body">
                      <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top"  alt="...">
                  </div>
                  <div class="card card-body">
                      <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top" alt="...">
                  </div>
                  <div class="card card-body">
                      <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top" alt="...">
                  </div>
                  <div class="card card-body">
                      <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top" alt="...">
                  </div>
                  <div class="card card-body">
                      <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top" alt="...">
                  </div>
                  <div class="card card-body">
                      <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top" alt="...">
                  </div>
                  <div class="card card-body">
                      <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top" alt="...">
                  </div>
              </div>
          </div>
    </div>




    {# Chat #}
    <div class="main">
      <div class="container text-center col-8 ">
        <div class="chat-log">
          <div class="chat-log__item">
            <h3 class="chat-log__author">Felipe <small>14:30</small></h3>
            <div class="chat-log__message">Bonjour, tout va bien avec le cactus?</div>
          </div>
          <div class="chat-log__item chat-log__item--own">
            <h3 class="chat-log__author">Fabrício <small>14:30</small></h3>
            <div class="chat-log__message">Bonjour, oui et non...</div>
          </div>
        </div>
      </div>
      <div class="chat-form">
        <div class="container ">
          <form id="FormSelctPlante" method="post" class="form-horizontal">
            <div class="row">
              <div class="col-sm-10 col-xs-8">
                <input type="text" class="form-control" id="" placeholder="Message" />
                <input type="hidden" id="planteselectinput" name="planteselectinput" value="marche pas">
              </div>
              <div class="col-sm-2 col-xs-4">
                <button onclick="PlanteSelectForm(this)" data-idplante="{{ planteselected.Id }}" class="btn btn-success btn-block">Send</button>
              </div>
            </div>
          </form>
        </div>
        </br>
      </div> 
    </div>






    {# element contextuel #}
    <div id="DivContextuelCarte" class="overlay">
        <a href="javascript:void(0)" class="closed" onclick="closeNav('DivContextuelCarte')" style="position: absolute; left: 260px">&times;</a>
    </div>

    {# Formulaire caché #}
    <div hidden>
        <form action="/SuiviDeLaPlante" id="FormSelctPlante" method="post">
          
        </form>
    </div>

    <script>

        //effets des cartes
        function overclickbrigth($byId) {
            el=document.getElementById($byId);
            el.style.borderColor = "hsla(60, 100%, 50%, 0.3)";
            el.style.borderWidth = "6px";
        }
        function overflyingbrigth($byId) {
            el=document.getElementById($byId);
            el.style.borderColor = "hsla(120, 100%, 50%, 0.3)";
            el.style.borderWidth = "3px";
        }
        function nooverflyingbrigth($byId) {
            el=document.getElementById($byId);
            el.style.borderColor = "rgba(0, 0, 0, 0.2)";
            el.style.borderWidth = "1px";
        }

        
        //clique droit overlays
        function ClicDroitCarte(elementself) {
            el=document.getElementById("DivContextuelCarte");
            el.style.width = "20em";
            el.dataset.idplante = elementself.dataset.idplante;
        }
        function closeNav($idnav) {
            el=document.getElementById($idnav);
            el.style.width = "0em";
        }
        function GetSupprPlanteId(){
            el=document.getElementById("DivContextuelCarte");
            elinput=document.getElementById("idplanteinput");
            elinput.value = el.dataset.idplante;
        }

        //clique sur bouton send message
        function PlanteSelectForm(elementself) {
            elinput=document.getElementById("planteselectinput");
            elinput.value = elementself.dataset.idplante;
            document.getElementById("FormSelctPlante").submit();
        }

    </script>
{% endblock %}
